*.py[co]
.DS_Store
_build
build
dist
*.egg-info
*~
*.bak
*.swp
.ipynb_checkpoints/
.cache
.ci/*.sh
.coverage
.env
.idea
.pytest_cache
.vscode
data
docs/.doctrees
docs/mnist.pkl
docs/examples/*
!docs/examples/*.ipynb
docs/whitepaper/*
!docs/whitepaper/*.tex
!docs/whitepaper/*.py
!docs/whitepaper/*.svg
tmp
