*.bak
*.egg-info
*.py[co]
*.swp
*.txt
*~
.DS_Store
.cache
.ci/*.sh
.coverage
.env
.idea
.ipynb_checkpoints/
.pytest_cache
.vscode
_build
bones-scripts
build
data
dist
docs/.doctrees
docs/examples/*
docs/mnist.pkl
docs/whitepaper/*
pip-wheel-metadata
tmp

# Exceptions, must be last
!docs/examples/*.ipynb
!docs/whitepaper/*.py
!docs/whitepaper/*.svg
!docs/whitepaper/*.tex
