language: python
notifications:
  email:
    on_success: change
    on_failure: change

# gives us a more up-to-date glibc (required by tensorflow)
sudo: required
dist: trusty

env:
  global:
    - MODE="test"
    - PYTHON_VERSION="3.5"
    - NENGO_DL_TEST_PRECISION="32"
    - NENGO_DL_TEST_UNROLL="False"
    - NENGO_DL_TEST_STEP_BLOCKS="None"
    - NUMPY_VERSION="numpy"
    - TF_VERSION="tensorflow"
    - NENGO_VERSION="nengo"

  matrix:
    - MODE="pep8"
    - MODE="docs"
    - MODE="coverage"
    - # default build
    - NENGO_DL_TEST_PRECISION="64"
    - NENGO_DL_TEST_UNROLL="True"
      NENGO_DL_TEST_STEP_BLOCKS="10"
    - PYTHON_VERSION="2.7"
    - PYTHON_VERSION="3.4"
    - PYTHON_VERSION="3.6"
    - NUMPY_VERSION="numpy==1.11.0"
    - TF_VERSION="tensorflow==1.0.0"
    - NENGO_VERSION="git+https://github.com/nengo/nengo.git"
    - NENGO_VERSION="nengo==2.3.1"

# Setup Miniconda
before_install:
  - wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda info -a
  - conda create -q -n test python=$PYTHON_VERSION pip $NUMPY_VERSION
  - source activate test

# install requirements that weren't installed via conda
install:
  - pip install $TF_VERSION
  - pip install $NENGO_VERSION
  - pip install -r requirements.txt
  - pip install -r requirements-test.txt
  - if [[ "$MODE" == "docs" ]]; then pip install -r requirements-docs.txt; fi
  - conda list -e
  - pip freeze

# run pytest/flake8
script:
  - if [[ "$MODE" == "pep8" ]]; then
      flake8;
    elif [[ "$MODE" == "docs" ]]; then
      python setup.py build_sphinx;
    elif [[ "$MODE" == "coverage" ]]; then
      python setup.py develop;
      coverage run -m py.test --pyargs nengo;
      coverage run -a -m py.test;
      coverage report;
    else
      python setup.py develop;
      py.test -v --pyargs nengo && py.test -v --durations 20;
    fi

after_success:
  - if [[ "$MODE" == "docs" && "$TRAVIS_BRANCH" == "master" ]]; then
      export DATE=$(date '+%Y-%m-%d %T');
      ghp-import -m "Last update at $DATE" -b gh-pages docs/_build/html;
      git config --global user.email "travis@travis-ci.org";
      git config --global user.name "TravisCI";
      git push -fq "https://$GH_TOKEN@github.com/nengo/nengo_dl.git" gh-pages;
    elif [[ "$MODE" == "coverage" ]]; then
      eval "bash <(curl -s https://codecov.io/bash)";
    fi
