include *.rst
include *.txt
recursive-include docs *.css
recursive-include docs *.ipynb
recursive-include docs *.py
recursive-include docs *.rst

prune docs/_build
prune tmp

global-exclude *.ipynb_checkpoints*
global-exclude *-checkpoint.ipynb