include *.py
include *.rst
include *.txt
include *.yml
recursive-include .ci *.sh
recursive-include docs *.css
recursive-include docs *.html
recursive-include docs *.ico
recursive-include docs *.ipynb
recursive-include docs *.png
recursive-include docs *.py
recursive-include docs *.rst

prune docs/_build
prune docs/whitepaper
prune tmp

global-exclude *.ipynb_checkpoints*
global-exclude *-checkpoint.ipynb
global-exclude *.bat
global-exclude *.svg
