ghp-import>=0.5.5
jupyter>=1.0.0
matplotlib>=2.0.0
nbsphinx>=0.2.13
numpydoc>=0.6.0
Pillow>=4.1.1
sphinx>=1.5.2,<1.6.0  # sphinxcontrib-versioning is not compatible with 1.6
sphinx_rtd_theme>=0.1.9
sphinxcontrib-versioning>=2.2.1
